.ag-column-drop-title {
  font-family: 'var(--font-family-Kanit-Regular)';
}

.ag-header-cell-label {
  justify-content: center;
}

.ag-header-cell-text {
  color: var(--tokens-color-gray-header-table-base);
  font-size: 14px;
}

.ag-row {
  border-bottom: none;
  cursor: pointer;
}

.ag-header {
  border-radius: 14px 14px 0 0;
  border: none;
}

.ag-root-wrapper {
  border-radius: 14px 14px 0 0;
  border: none;
}

.ag-root ::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.ag-root ::-webkit-scrollbar-track {
  background: inherit;
}

.ag-root ::-webkit-scrollbar-thumb {
  background-color: var(--tokens-color-gray-base);
  border-radius: 18px;
}

.ag-root ::-webkit-scrollbar-corner {
  background: inherit;
}

/* sx={{
  maxHeight: { xs: 250, sm: 250, md: 250, xl: 540 },
  '&::-webkit-scrollbar': { width: '6px', height: '6px' },
  '&::-webkit-scrollbar-track': { background: 'inherit' },
  '&::-webkit-scrollbar-thumb': {
    backgroundColor: 'var(--tokens-color-gray-base)',
    borderRadius: '18px',
  },
  '&::-webkit-scrollbar-corner': { background: 'inherit' },
}} */
